<div class='hero-unit' id="hero">
	<div class="row">
		<object id='prezi' class="span7">
			<%= raw prezi %>
		</object>

		<div id='take-actions' class="span3">
			<% [mission, vision].each do |page| %>
				<% if page %>

					<%= link_to page.title.titlecase, "##{page.title.tr(' ', '-')}", class: 'btn btn-large', data: { toggle: 'modal' } %>
					<div class="modal hide fade" id=<%= "#{page.title.tr(' ', '-')}"%>>
						<div class="modal-header">
							<a class="close" data-dismiss="modal">x</a>
							<h3><%= page.title.titlecase%></h3>
						</div>
						<div class="modal-body">
							<p>
							<%=raw page.content_for(:body) %>
							</p>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn" data-dismiss="modal">Close</a>
							<%= link_to "Learn how you can help us", page_path(take_action), class: "btn btn-primary", target: "_blank"%>
							</div>
					</div>
				<% end %>
			<% end %>

			<%= link_to "Get Involved", page_path(take_action), class: "btn btn-large" %>
		</div>

	</div>
</div>
