<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <%= render 'refinery/pages/carousel' %>
      <%= render 'shared/action_buttons' %>
    </div>
  </div>
</div>

<div class="row">
	<div class="span12">
		<h1 class="page-header">What's Happening</h1>
	</div>
</div>

<div class="row">
    <div id='body_content' class='span8'>
        <%= render 'refinery/pages/recent_news' %> 
        <%= raw @page.content_for(:body) %>
    </div>

    <div id='side_body_content' class='span4'>
        <%= render 'shared/side_bar' %>
        <%= raw @page.content_for(:side_body) %>
    </div>
</div>

<div class="row">
  <div class="span12">
    <div id='partner_list'>
      <h1 id='partners' class="page-header">Partners</h1>
    </div>
  </div>

	<div class="span12" id="partners">
		<%= raw @page.content_for(:partners) %>
	</div>

</div>
