<% provide :title, "News" %>
<div class="row">
  <div class="span9">
    <% if @items.any? %>
      <% @items.each do |item| %>
        <article class="news_item_truncated">
          <h2><%= link_to item.title, refinery.news_item_path(item) %></h2>
          <p><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></p>
            <%= raw safe_truncate  item.body, :length => 500 %>
          <p>
            <%= link_to t('.read_more'), refinery.news_item_path(item) %>
          </p>
        </article>
      <% end %>

      <%= will_paginate @items %>
    <% else %>
      <p><em><%= t('.no_items_yet') %></em></p>
    <% end %>
  </div>
  <div class="span3">
    <%= render :partial => '/refinery/news/shared/body_content_right' %>
  </div>
</div>
