<% provide :title, @item.title %>
<div class="row">
  <article class="news_item span8">
    <p><%= t('.published') %> <%= l(@item.publish_date, :format => :long) %></p>

    <%= @item.body.html_safe %>

    <% if @item.source.present? %>
      <p>
      <%= link_to "#{t('.source')}: #{@item.source}", @item.source %>
      </p>
    <% end %>
    <p>
      <%= link_to t('.back_to_index'), refinery.news_items_path %>
    </p>
  </article>

  <div class="span4">
    <%= render partial: 'recent_posts' %>
  </div>
</div>
