<li id="<%= dom_id(gallery) %>" class="<%= klass %>">
	<div class="thumbnail">
		<%= link_to refinery.portfolio_gallery_path(gallery) do %>
			<% if gallery.cover_image.present? %>
					<%= image_fu gallery.cover_image.image, 
								::Refinery::Portfolio.cover_image_thumb_size,
								{:title => gallery.cover_image.title} %>
			<% end %>

			<div class="caption">
				<div class="well">
					<h5><%= gallery.title %></h5>
					<% if ::Refinery::Portfolio.display_gallery_text %>
						<%= raw gallery.description %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</li>
