<li id="<%= dom_id(gallery) %>" class="span3">
	<div class="thumbnail">
		<%= link_to refinery.portfolio_gallery_path(gallery), class: "thumbnail" do %>
			<% if gallery.cover_image.present? %>
					<%= image_fu gallery.cover_image.image, 
								::Refinery::Portfolio.cover_image_thumb_size,
								{:title => gallery.cover_image.title} %>
			<% end %>

			<div class="caption">
				<div class="well">
					<h2><%= gallery.title %></h2>
					<% if ::Refinery::Portfolio.display_gallery_text %>
						<%= raw gallery.description %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</li>
