<% if @gallery %>
  <% provide :title, (@gallery.title.strip) %>
  <% provide :subtitle, (sanitize @gallery.description, tags: [])%>
<% else %>
  <% provide :title, "Media Galleries" %>
  <% provide :subtitle, "Choose from a gallery from below"%>
<% end %>

<div class="row">
	<% if @items.any? and @galleries.empty? %>
		<div class="span12">
			<%= render :partial => "refinery/portfolio/items/items", :locals => { :items => @items } %>
		</div>
	<% elsif @galleries.any? and @items.empty? %>
		<div class="span12">
			<%= render :partial => "galleries", :locals => { :galleries => @galleries } %>
		</div>
	<% elsif @galleries.any? and @items.any? %>
		<div class="span9">
			<%= render :partial => "refinery/portfolio/items/items", :locals => {:items => @items} %>
		</div>
		<div class="span3">
			<%= render :partial => "galleries", :locals => {:galleries => @galleries} %>
		</div>
	<% else %>
		<div class="span12">
			<p><em>No Galleries Created</em></p>
		</div>
	<% end %>
</div>
<% if Rails.env.development? %>
	<div class="row">
		<div class="span6">
			<%= debug @items %>
			<%= debug @items.empty? %>
		</div>
		<div class="span6">
			<%= debug @galleries %>
			<%= debug @galleries.any? %>
		</div>
	</div>
<% end %>
