<div class="container">
<%= link_to root_path do %>
	<%= image_tag "nla_logo.png", alt: "Neighborhood Learning Alliance Logo" %>
<% end %>

	<div class="pull-right">
		<%= image_tag "sn_icons/fb.png", alt: "Neighborhood Learning Alliance Facebook", class: "span1"%>
		<%= image_tag "sn_icons/gplus.png", alt: "Neighborhood Learning Alliance Google+", class: "span1"%>
		<%= image_tag "sn_icons/twitter.png", alt: "Neighborhood Learning Alliance Twitter", class: "span1"%>
	</div>
</div>
