<!-- Header -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner" id="real-header">
		<div class="container">

			<!-- Logo -->
			<%= link_to refinery.root_path do %>
				<%= image_tag "nla_logo.png", alt: "Neighborhood Learning Alliance Logo", id: "logo" %>
			<% end %>

			<div class="pull-right">

				<!-- Search Box -->
				<%= form_tag refinery.search_path, class: "well form-search", id: "search" do -%>
					<%= text_field_tag 	:query, {}, {:type => "search",
					:placeholder => "Search site for...",
					:value => (params[:query] if params[:query]), :class => "input-medium search-query"}%>
					<%= submit_tag "Search", :class => "btn"%>
				<% end %>

				<!-- Social Network Icons -->

				<ul class="thumbnails pull-right" id="sn-icons">
					<li class="span1">
						<a href="https://www.facebook.com/nla.pittsburgh" class="thumbnail" target="_blank">
							<%= image_tag "sn_icons/fb.png", alt: "Neighborhood Learning Alliance Facebook"%>
						</a>
					</li>
					<li class="span1">
						<a href="https://twitter.com/#!/NLA_Pittsburgh" class="thumbnail" target="_blank">
							<%= image_tag "sn_icons/twitter.png", alt: "Neighborhood Learning Alliance Twitter"%>
						</a>
					</li>
                    <li class="span2">
                        <a href="http://www.youtube.com/neighborhoodlearning" class="thumbnail" target="_blank">
                            <%= image_tag "sn_icons/youtube.png", alt: "Neighborhood Learning Alliance Youtube"%>
                        </a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</div>

