<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
		<header id="header">
				<%= render '/refinery/header' -%>
		</header>
    <!--[if lt IE 9]>
    <div class="container">
      <p> Site best viewed in Chrome, Firefox, Opera, or IE 9 </p>
    </div>
    <![endif-->

    <div id="page_container" class="container">
			<!-- Navigation -->
			<%= render(:partial => "/refinery/menu", :locals => {
									 :dom_id => 'menu',
									 :css => 'menu'
								 }) %>

			<!-- Body -->
      <section id="page" class="container">
        <% unless home %>
          <div class="page-header">
            <h1><%= yield :title%>
              <small><%=yield :subtitle%></small>
            </h1>
          </div>
        <% end %>
        <%= yield %>
      </section>

    </div>
		<!-- Footer -->
		<footer class="navbar">
			<%= render '/refinery/footer' -%>
		</footer>
    
    <% if Rails.env.development? %>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="well">
              <%= debug params %>
            </div>
          </div>

          <div class="span12">
            <div class="well">
              <%= debug session %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </body>
</html>
