<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
		<header id="header">
				<%= render '/refinery/header' -%>
		</header>
    <div id="page_container" class="container">
			<!-- Navigation -->
			<%= render(:partial => "/refinery/menu", :locals => {
									 :dom_id => 'menu',
									 :css => 'menu'
								 }) %>

			<!-- Body -->
      <section id="page" class="container">
        <%= yield %>
      </section>

    </div>
		<!-- Footer -->
		<footer class="navbar">
			<%= render '/refinery/footer' -%>
		</footer>
  </body>
</html>
